<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Ширина таблицы</title>
<style>
    table {
    border-collapse: collapse;
    }
    th, td {
    border: 1px solid black;
    }
</style>
</head>
<body>
    <h5>Задание 12</h5>
    <table width="100%">
    <tr>
    <th>Заголовок 1</th>
    <th>Заголовок 2</th>
    <th>Заголовок 3</th>
    </tr>
    <tr>
    <td>Ячейка 1x1</td>
    <td>Ячейка 1x2</td>
    <td>Ячейка 1x3</td>
    </tr>
    <tr>
    <td>Ячейка 2x1</td>
    <td>Ячейка 2x2</td>
    <td>Ячейка 2x3</td>
    </tr>
    </table>
    <h5>Задание 13</h5>
    <table>
    <tr>
    <th colspan="3">Основной заголовок таблицы</th>
    </tr>
    <tr>
    <th>Заголовок 1</th>
    <th>Заголовок 2</th>
    <th>Заголовок 3</th>
    </tr>
    <tr>
    <td>Ячейка 1x1</td>
    <td>Ячейка 1x2</td>
    <td>Ячейка 1x3</td>
    </tr>
    <tr>
    <td>Ячейка 2x1</td>
    <td>Ячейка 2x2</td>
    <td>Ячейка 2x3</td>
    </tr>
    </table>
</body>
</html>