<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<style>
    .tbl {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid black;
        padding: 5px;
    } 
</style>
<body>
    <h5>Задание 1</h5>
    <table class="tbl" border="1" cellpadding="10">
        <tr><td>Ячейка 1</td><td>Ячейка 2</td><td>Ячейка 3</td></tr>
        <tr><td>Ячейка 4</td><td>Ячейка 5</td><td>Ячейка 6</td></tr>
        <tr><td>Ячейка 7</td><td>Ячейка 8</td><td>Ячейка 9</td></tr>
    </table>
    <br>
    <h5>Задание 2</h5>
    <table border="1" cellspacing="0" cellpadding="5" width="500">
        <tr><th>Ячейка 1</th><th>Ячейка 2</th><th>Ячейка 3</th></tr>
        <tr align="left"><td>Ячейка 4</td><td>Ячейка 5</td><td>Ячейка 6</td></tr>
        <tr align="left"><td>Ячейка 7</td><td>Ячейка 8</td><td>Ячейка 9</td></tr>
    </table>
    <br>
    <h5>Задание 3</h5>
    <table border="1" cellspacing="0" cellpadding="5" width="500">
        <tr align="center"><th>Ячейка 1</th><th>Ячейка 2</th><th>Ячейка 3</th></tr>
        <tr><td align="right">Ячейка 4</td><td align="left">Ячейка 5</td><td align="left">Ячейка 6</td></tr>
        <tr><td align="left">Ячейка 7</td><td align="center">Ячейка 8</td><td align="right">Ячейка 9</td></tr>
    </table>
    <br>
    <h5>Задание 4</h5>
    <table border="1" cellspacing="0" cellpadding="5" width="500">
        <tr align="center"><th width="100">номер</th><th width="50">тег</th><th width="200">значение</th></tr>
        <tr align="center"><td>1</td><td>i</td><td>курсив</td></tr>
        <tr align="center"><td>2</td><td>td</td><td>ячейка таблицы</td></tr>
        <tr align="center"><td>3</td><td>a</td><td>ссылка</td></tr>
        <tr align="center"><td>4</td><td>th</td><td>заголовок таблицы</td></tr>
        <tr align="center"><td>5</td><td>table</td><td>таблица</td></tr>
        <tr align="center"><td>6</td><td>p</td><td>абзац</td></tr>
        <tr align="center"><td>7</td><td>b</td><td>жирный текст</td></tr>
        <tr align="center"><td>8</td><td>tr</td><td>строка таблицы</td></tr>
    </table>
    <br>
    <h5>Задание 5</h5>
    <table border="1" cellspacing="0" cellpadding="5">
        <tr><td colspan="2">Ячейка 1</td><td>Ячейка 3</td></tr>
        <tr><td rowspan="2">Ячейка 4</td><td>Ячейка 5</td><td>Ячейка 6</td></tr>
        <tr><td>Ячейка 8</td><td>Ячейка 9</td></tr>
    </table>
    <br>
    <h5>Задание 6</h5>
    <table border="1" cellspacing="0" cellpadding="5">
        <tr><td colspan="3">Ячейка 1</td></tr>
        <tr><td>Ячейка 4</td><td rowspan="2">Ячейка 5</td><td>Ячейка 6</td></tr>
        <tr><td>Ячейка 7</td><td>Ячейка 9</td></tr>
    </table>
    <br>
    <h5>Задание 7</h5>
    <table border="1" cellspacing="0" cellpadding="5">
        <tr><td rowspan="3">Ячейка 1</td><td>Ячейка 2</td><td rowspan="3">Ячейка 3</td></tr>
        <tr><td>Ячейка 5</td></tr>
        <tr><td>Ячейка 8</td></tr>
    </table>
    <br>
    <h5>Задание 8</h5>
    <table border="1" cellspacing="0" cellpadding="30">
        <tr><td colspan="7"></td></tr>
        <tr><td rowspan="3"></td><td colspan="4"></td><td rowspan="2"></td><td rowspan="2"></td></tr>
        <tr><td rowspan="3"></td><td colspan="2"></td><td></td></tr>
        <tr><td rowspan="2"></td><td></td><td></td><td></td><td rowspan="3"></td></tr>
        <tr><td></td><td></td><td rowspan="3"></td><td></td></tr>
        <tr><td></td><td></td><td></td></tr>
        <tr><td colspan="4"></td></tr>
        <tr><td colspan="3"></td></tr>
    </table>
    <br>
    <h5>Задание 9</h5>
    <table border="1">
        <tr>
            <th colspan="2">Ячейка на два столбца</th>
        </tr>
        <tr>
            <td>Ячейка 1</td>
            <td>Ячейка 2</td>
        </tr>
    </table>
    <br>
    <h5>Задание 10</h5>
    <table border="1">
        <tr>
            <th rowspan="3">Ячейка на три строки</th>
            <td>Ячейка 1</td>
        </tr>
        <tr>
            <td>Ячейка 2</td>
        </tr>
        <tr>
            <td>Ячейка 3</td>
        </tr>
    </table>
    <br>
</body>
</html>
